<div cdkDropListGroup class="container">
  <div class="example-boundary">
    <div class="example-container" >
      <h2>Weekdays</h2>

      <div class="example-list custom" (click)="activeList = null">View all</div>
      <div
        class="example-box"
        *ngFor="let item of dropList; let i = index"

        cdkDrag
        
        cdkDropList
        [cdkDropListData]="item"
        class="example-list custom"
        (cdkDropListDropped)="drop($event)"
        cdkDragBoundary=".example-boundary" 

        (click)="activeList = i"
      >
        <span class="weekday">{{ weekdays[i] }}</span
        ><span>total to do: {{ item.length }}</span>

      </div>
    </div>
  </div>

  <div class="example-container" *ngIf="!(activeList !== null); else currentList">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>

  <ng-template #currentList>
    <div class="example-container" *ngIf="activeList || activeList === 0">
      <h2>{{ weekdays[activeList] }}</h2>
  
      <div
        cdkDropList
        cdkDropListSortingDisabled
        [cdkDropListData]="dropList[activeList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        *ngIf="dropList[activeList].length > 0; else text"
      >
        <div class="example-box" *ngFor="let item of dropList[activeList]" cdkDrag>
          {{ item }}
        </div>
      </div>
      <ng-template #text>
        <p>No to dos for {{ weekdays[activeList] }}</p>
      </ng-template>
    </div>
  </ng-template>
</div>
